-
  var benefits = [
    {
      icon: 'wallet',
      heading: 'Ежедневные выплаты',
      content: 'Выплачиваем доход ежедневно!'
    },
    {
      icon: 'gus',
      heading: 'Газ / Бензин',
      content: 'Выбирайте удобный вам вид топлива!'
    },
    {
      icon: 'money',
      heading: 'Повышенный доход от Яндекс',
      content: 'Все авто в приоритете и бренде - получите больше за заказ с нами!'
    },
    {
      icon: 'car-wash',
      heading: 'Бесплатное обслуживание',
      content: 'Всегда чистый и исправный автомобиль за наш счет'
    },
    {
      icon: 'calendar',
      heading: 'Свободный график',
      content: 'Вы сами выбираете когда и как Вам удобно работать'
    },
    {
      icon: 'level',
      heading: 'АКПП / МКПП',
      content: 'Выбирайте что вам удобнее!'
    },
    {
      icon: 'clock',
      heading: 'Заработок с первого часа',
      content: 'Быстрое трудустройство, доход с первых минут работы'
    },
    {
      icon: 'car-taxi',
      heading: 'Предоставим новую машину',
      content: 'Огромный, постоянно пополняемый таксопарк'
    },
  ]


section#benefits
  .container
    .requirements
      ul
        li
          p Возраст от
          p 21 года
        li
          p Водительский стаж от
          p 3 лет
        li
          p Водительские права РФ
          p кат. "B"
        li
          p Гражданство
          p Не имеет значения
    .benefits
      h2 Работа на новых автомобилях компании.
      h2 Без залога. Без вложений.
      ul
        each item in benefits
          li
            +uiIcon(item.icon)
            div
              h3= item.heading
              p= item.content
