section#cars
  .container
    h2 Новые авто - готовы к работе!
    .main-carousel(data-flickity='{"autoPlay":4000,"pageDots":false,"prevNextButtons":false}')
      .carousel-cell
        +img('black-car-min.png')
      .carousel-cell
        +img('white-car-min.png')