section#faq
  .container
    h2 Ответы на вопросы
    ul
      li
        span 1.
        .content
          p Сколько стоит аренда автомобиля?
          p Мы не берем плату за автомобиль.
      li
        span 2.
        .content
          p Какой график работы?
          p График свободный, смены по 12 и 24 часа.
      li
        span 3.
        .content
          p Когда можно приступить к работе?
          p Вы можете приступить к работе в день обращения.
      li
        span 4.
        .content
          p Могу я совмещать с основной работой?
          p График работы абсолютно свободный, т.е. вы сами выбираете количество рабочих дней в неделю, и тип смены (12 или 24 часа).