section#hero
  .wrapper
    .hero-img
    .content
      h1 Работа в такси на авто компании
      p Лучшие условия в СПБ, самый крупный таксопарк
      p #[span Новые] автомобили компании, #[span выплаты ежедневно]
      p #[span Доход на руки] #[span.red 150 000] руб в месяц*
      p Официальный партнер Яндекс.Такси №400000466848
      .points
        div
          +uiIcon('car')
          span Оставьте заявку ниже и приезжайте к нам
        div
          +uiIcon('phone-hero')
          span Получите автомобиль и выезжайте на смену
      .buttons
        a(href="#appeal").ui-button.primary Оставить заявку
        a(href="#calculator").ui-button.secondary Расчитать доход