section#map
  .container
    h2 Наши автопарки - рядом с вашим домом
    p Более 15 автопарков по Санкт-Петербургу и ЛО, Вам будет удобно устроиться и забрать автомобиль для работы!
    ul
      li Парк №1 м.Купчино/ Обухово ул.Софийская дом 78;
      li Парк №2 м.Нарвская ул.Старо-Петергофский д. 44 лит А;
      li Парк №3 м.Комендантский пр.,Комендантский пр. д. 43 к. 3;
      li Парк №4 м.Гражданский Проспект, ул.Ольги Форш дом 6;
      li Парк №5 м.Проспект Ветеранов, пр.Маршала Жукова дом 78;
      li Парк №6 м.Ладожская, ул.Латышских Стрелков дом 19;
      li Парк №7 м.пр.Просвещения, ул.Шостаковича дом 6, к. 3, лит А;
      li Парк №8 м.Парк Победы, Яковлевский пер. д. 11;
      li и др.
  .map
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab7c507133227870f630d56f1066b40233a685d6d89d578bb9518a6a586c4b4f9&amp;lang=ru_RU&amp;scroll=false"></script>