section#partners
  .container
    h2 Лучшие заказы от Яндекс.Такси, Uber, Maxim в одном планшете!
    p Все лучшие заказы в нашем встроенном в автомобиль планшете! Нет необходимости в заключении нескольких договоров, установки нескольких планшетов - в Такси.Северозапад все в одном месте!
    .icons
      +uiIcon('yandex')
      +uiIcon('uber')
      +uiIcon('maxim')