section#points
  .container
    h2 Как начать работу
    ul
      li
        span 1
        p Оставьте заявку или позвоните по телефону
      li
        span 2
        p Выберите автомобиль в парке и график работы
      li
        span 3
        p Начните зарабатывать в этот же день