// -----------------------------------------------------------------------------
// Ui icon component stylesheets
// -----------------------------------------------------------------------------

i.ui-icon {
  display: block;
  height: 60px;
  width: 60px;
}
