// -----------------------------------------------------------------------------
// Appeal stylesheets
// -----------------------------------------------------------------------------



#appeal {
  display: flex;
  background-color: $gray-primary;

  & > div {
    width: 50%;
  }

  .bg-img {
    background-image: url(/src/assets/images/form-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .appeal {
    padding: 50px 0;

    .inner {
      margin-left: auto;
      padding: 0 36px;
      max-width: calc(1180px / 2);
      height: 100%;

      & > p {
        padding: 20px 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
      }
    }

    form {
      padding: 20px 10px;
      position: relative;
      border: 1px solid #999;

      & > p {
        padding: 2px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
        background-color: $black;
        font-size: 12px;
      }

      .popup {
        padding: 20px 5px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $gray-primary;

        p {
          text-align: center;
          font-weight: 700;

          &:first-child {
            padding-bottom: 50px;
            font-size: 24px;
          }

          &:last-child {
            margin: 0 auto;
            max-width: 350px;
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }

    .notes {
      padding: 20px 0;
      
      p {
        padding: 1px 0;
        color: $gray-secondary;
        font-size: 12px;
      }

      a {
        color: $black;
      }
    }

    .buttons {
      display: flex;
      gap: 25px;
      color: #000;

      & > * {
        padding: 16px 0;
        width: 100%;
      }
      button {
        color: -apple-system-black;
      }
    }

    .fields {

      & > div {
        padding: 7px 0;
      }

      input {
        width: 70%;
        padding: 5px 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $black;
        font-size: 20px;
        transition: border 0.15s ease-in-out;

        &::placeholder {
          color: rgb(31, 31, 31);
        }

        &:focus {
          outline: none;
        }

        &.error {
          border-color: #ec4c29;;
        }
      }

      .phone {
        position: relative;

        span {
          position: absolute;
          left: 0;
          top: calc(100% - 3px);
          color: #ec4c29;
          font-size: 12px;
        }
      }
    }
  }


  .error-enter-active,
  .error-leave-active {
    transition: opacity .15s ease-in-out;
  }
  
  .error-enter-from,
  .error-leave-to {
    opacity: 0;
  }

  .popup-enter-active,
  .popup-leave-active {
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
  }
  
  .popup-enter-from,
  .popup-leave-to {
    opacity: 0;
    transform: scale(0.3);
  }



  @include respond(medium) {
    flex-direction: column;

    & > div {
      width: 100%;
    }

    .bg-img {
      height: 320px;
      order: -1;
    }

    .appeal {

      .inner {
        margin: auto;
        padding: 0 18px;
      }
    }
  }

  @include respond(small) {

    .appeal {

      .inner {

        & > p {
          line-height: 25px;
        }
      }

      form {

        .fields {

          input {
            width: 100%;
          }
        }

        .buttons {
          flex-direction: column;
          align-items: center;

          & > * {
            max-width: 300px;
          }
        }
      }
    }
  }
}