// -----------------------------------------------------------------------------
// Calculator stylesheets
// -----------------------------------------------------------------------------



#calculator {
  display: flex;
  overflow: hidden;

  label {
    display: inline-block;
    border: 1px solid $text;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
  }

  input {
    display: none;

    &:checked {

      & + label {
        background-color: $yellow;
      }
    }
  }

  & > div {
    width: 50%;
  }

  .wrapper {
    max-width: calc(1180px / 2);
    height: 100%;
  }

  .calculator {

    .wrapper {
      margin-left: auto;
      padding: 50px 36px;
    }

    h2 {
      line-height: 35px;
    }

    p {
      padding: 35px 0 25px;
      font-size: 24px;
      font-weight: 600;
    }

    .hours {
      display: flex;
      gap: 25px;

      label {
        padding: 10px 20px;
      }

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        span {
          font-size: 12px;
        }
      }
    }

    .days {
      padding-bottom: 40px;
      display: flex;
      gap: 20px;

      label {
        padding: 7px 16px;
      }
    }
  }

  .mokup {
    background-color: $yellow;

    .wrapper {
      position: relative;
    }

    .phone {
      width: 347px;
      height: 668px;
      position: absolute;
      top: calc(100% - 400px);
      right: 36px;
    }

    .earnings {
      position: absolute;
      top: 155px;
      right: 0;
      left: 0;
      z-index: 1;

      p {
        text-align: center;
        font-weight: 700;

        &:first-child {
          padding-bottom: 20px;
          font-size: 14px;
        }

        &:last-child {
          font-size: 34px;
        }
      }
    }
  }

  .ui-icon {
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow( 3px -1px 6px rgba(0, 0, 0, 0.15) );
    filter: drop-shadow( 3px -1px 6px rgba(0, 0, 0, 0.15) );
  }

  @include respond(medium) {
    flex-direction: column;

    & > div {
      width: 100%;
    }

    .calculator {
      text-align: center;

      .wrapper {
        margin: 0;
        padding: 30px 10px;
        max-width: 100%;
      }

      .hours {
        justify-content: center;
      }

      .days {
        justify-content: center;
        gap: 20px;
      }
    }

    .mokup {
      height: 300px;
      overflow: hidden;
      order: -1;

      .wrapper {
        margin: 0;
        max-width: 100%;
      }

      .phone {
        top: calc(100% - 260px);
        right: 50%;
        transform: translateX(50%);
      }
    }
  }

  @include respond(small) {

    .calculator {

      p {
        padding: 20px 0 15px;
        font-size: 20px;
      }

      .days {
        padding-bottom: 25px;
        flex-wrap: wrap;
        column-gap: 9px;
        row-gap: 5px;
      }
    }

    .mokup {
      height: 260px;

      .phone {
        width: 307px;
        height: 591px;
        top: calc(100% - 235px);
      }

      .earnings {
        top: 140px;
  
        p {
  
          &:first-child {
            font-size: 14px;
            letter-spacing: -0.3px;
          }
        }
      }
    }
  }
}
