// -----------------------------------------------------------------------------
// Application global styles
// -----------------------------------------------------------------------------



svg {
  display: block;
  width: 100%;
  height: 100%;
}

body {

  @include respond(small-sm-ex) {
    width: 320px;
  }
}