// -----------------------------------------------------------------------------
// Reboot
//
// @description Reboot global browsers styles. Based on normalize & bootstrap.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: $font-base;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
}

body {
  margin: 0;
  background-color: $white;
  // height: 100%;  // for application look like
  font: {
    family: $font-base;
    weight: 400;
    size: 16px;
  }
  line-height: 1.15;
  color: $text;
  text-align: left;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}


ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.8em;
}


a {
  color: inherit;
  text-decoration: inherit;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  background-color: transparent;
}


img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border: none;
  border-radius: 0;
  outline: none;
}

button:focus {
  outline: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  &:not(:disabled) {
    cursor: pointer;
  }
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[hidden] {
  display: none !important;
}


select,
textarea,
input[type="text"],
input[type="button"],
input[type="submit"]{
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border-radius:0;
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}


.grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}