// -----------------------------------------------------------------------------
// Typography stylesheets
// -----------------------------------------------------------------------------

// Headings

h1 {
  font-size: 34px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 45px;

  @include respond(medium) {
    font-size: 22px;
    line-height: 30px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
}