//------------------------------------------------------------------------------
//  Variables
//------------------------------------------------------------------------------



// Breakpoints -----------------------------------------------------------------

$bp-small-sm-ex: 320px;
$bp-small: 600px;
$bp-medium: 960px;
$bp-large: 1200px;



// Layout

$container-width: 1180px;



// Font

$font-base: 'Open Sans', sans-serif;



// Colors

$white: #FFFFFF;
$black: #000000;

$yellow: #fedc3f;

$text: #222222;
$text-hover: #535353;

$gray-primary: #e8e8e8;
$gray-secondary: #7b7b7b;



// Shadows
