footer
  .container
    div
      p ООО «АМАТУС»
      p ИНН 7816080187
      p КПП 781601001
      p ОГРН 1037835002336
      a(href="tel: +78005504181") Тел: +7 800 550 41 81 - (отдел персонала)
      a(href="mailto: info@taxspb.ru") E-mail: info@taxspb.ru
    div
      p Лучшая работа в Такси.Северозапад!