header#header
  .container
    .top
      a(href="/").logo
        +uiIcon('logo')
      nav#nav-main
        ul
          li
            a(href="#benefits") Минимум требований
          li
            a(href="#points") Как начать работу
          li
            a(href="#cars") Наши автомобили
          li
            a(href="#map") Наши парки
        a.ui-button.primary(href="#appeal") Оставить заявку
      div
        a.phone-number(href="tel: +78005504181") +7 (800) 550 41 81
        a.ui-button.primary(href="#appeal") Оставить заявку
      #burger
        .icon
  #overlay
